@model IEnumerable < PoliticList.Models.Topic >
<div class="mainHeader">
    <h2>Top News Stories Of The Day</h2>
    <p>
        Click <img class="headerArrow"src="http://vignette3.wikia.nocookie.net/divergent/images/2/24/Upvote.png/revision/latest?cb=20130305224425" />To Vote For Your Favorites!
    </p>
</div>


<div class="col-md-6">
    <div class="hotNews">

        <h1 class="columnTitle">Hot Off The Press</h1>

        @if (ViewBag.TempLinks != null)
        {

            foreach (var link in ViewBag.TempLinks)
            {
                <div class="mainPageLink">

                    @if ((Html.Action("AlreadyVoted", "Home", new { FeedLinkId = link.FeedLinkId })).ToString() == "true")
                    {
                        <div class="upvote voted">
                            <button class="frontHeartVoted">
                                @link.Votes
                            </button>
                        </div>
                    }
                    else
                    {
                        <div class="upvote">
                            <button onclick="mainPageUpvote(@link.FeedLinkId, this)"  class="frontHeart">
                                @link.Votes
                            </button>
                            <button class="frontHeartVoted ajaxVoted">
                                @link.Votes
                            </button>
                        </div>
                 
                    }
                    <img class="publisherImg" src="@link.FeedLinkPic" />

                    <div class="linkPlusDate">

                        <a class="feedLink" href="@link.FeedLinkUrl">
                            @Html.Raw(System.Web.HttpUtility.HtmlDecode(link.FeedLinkTitle))
                        </a>
                        <p class="publishDate">@link.FeedLinkTime 
                        
                     
                     </p>
                        @if (link.Category.CategoryName != "Uncategorized")
                        {
                            
                                <a class="btn btn-group-xs categoryTag" href="~/AwesomeCategory/@link.Category.CategorySlug">@link.Category.CategoryName</a>
                            
                        }
                    </div>
                </div>
                <hr />

            }
        }
        </div>

    </div>
<div class="col-md-6">
    
    <div class="mostVotes">
        <h1 class="columnTitle">Most Votes</h1>

        @if (ViewBag.VoteLinks != null)
        {
            foreach (var link in ViewBag.VoteLinks)
            {
                <div class="mainPageLink">

                    @if ((Html.Action("AlreadyVoted", "Home", new { FeedLinkId = link.FeedLinkId })).ToString() == "true")
                    {
                        <div class="upvote">
                            <button class="frontHeartVoted">
                                @link.Votes
                            </button>
                        </div>
                    }
                    else
                    {
                        <div class="upvote">
                            <button onclick="mainPageUpvote(@link.FeedLinkId, this)" class="frontHeart">
                                @link.Votes
                            </button>
                            <button class="frontHeartVoted ajaxVoted">
                                @link.Votes
                            </button>
                        </div>
                    }
                    <img class="publisherImg" src="@link.FeedLinkPic" />

                    <div class="linkPlusDate">

                        <a class="feedLink" href="@link.FeedLinkUrl">
                            @Html.Raw(System.Web.HttpUtility.HtmlDecode(link.FeedLinkTitle))
                        </a>
                        <p class="publishDate">@link.FeedLinkTime </p>
                    </div>

                </div>
                <hr />

            }
        }
    </div>
</div>
@Html.Partial("_disqus")

<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

<link href='https://fonts.googleapis.com/css?family=Passion+One:700&effect=shadow-multiple|3d-float' rel='stylesheet' type='text/css'>