@model PoliticList.Models.Topic
<title>The Most Important Responses @Model.TopicName</title>
<div class="row">
    <p class="topicName font-effect-shadow-multiple">
        The Best Responses
        <br />
        to
        <br />
        @Model.TopicName
    </p>
    @*<div class="topicPic" style='background-image: url("@Model.TopicPic");'>

        </div>*@
    <div class="whatHappened">
        <p class="intro">@Model.Intro</p>

        @*<iframe src="https://www.youtube.com/embed/@Model.YouTube" frameborder="0" allowfullscreen></iframe>*@
        <br />

    </div>
@Html.Partial("_shareStuff")
    <div class="col-md-10">
    


    @Html.Partial("_editTopic")
    <hr />

    @foreach (var link in ViewBag.Links)
    {
        <div class="voteBox">

            <form class="upvote" action="~/Topic/Upvote">
                <input name="LinkId" hidden value="@link.LinkId" />
                <button id="heart">
                    @link.Votes
                </button>
            </form>

            @if (link.LinkUrl != null && link.LinkUrl != "")
            {
                <div class="linkBox">
                    <a href="@link.LinkUrl"><h1>@link.LinkTitle</h1></a>
                </div>
            }

            @if (link.LinkTwitter != null && link.LinkTwitter != "")
            {
                <div class="tweet">@Html.Raw(System.Web.HttpUtility.HtmlDecode(link.LinkTwitter))</div>
            }

            @if (link.LinkImage != null && link.LinkImage != "")
            {
                <div class="imageBox">
                    <img class="linkImage" src="@link.LinkImage" />
                </div>
            }

            @if (link.LinkInstagram != null && link.LinkInstagram != "")
            {
                @link.LinkInstagram
            }

            @if (link.LinkQuote != null && link.LinkQuote != "")
            {
                <div class="quoteBox">
                    <p>@link.LinkQuote</p>
                </div>
            }

        </div>
        if (User.IsInRole("Admin"))
        {
            <form action="~/Topic/DeleteLink">
                <input hidden name="LinkId" value="@link.LinkId" />
                <button class="btn btn-danger">Delete</button>
            </form>
            <button class="editLink btn btn-success">Edit Link</button>
            <form class="editLinkForm" action="~/Topic/EditLink">
                <input hidden name="LinkId" value="@link.LinkId" />
                <label>Link</label>
                <br />

                <input value="@link.LinkTitle" name="LinkTitle" />
                <br />

                <input value="@link.LinkUrl" name="LinkUrl" />
                <br />

                <label>Quote</label>
                <br />

                <textarea placeholder="Quote" name="LinkQuote">@link.LinkQuote</textarea>
                <br />

                <label>Twitter</label>
                <br />

                <textarea placeholder="Twitter" name="LinkTwitter">@link.LinkTwitter</textarea>
                <br />

                <label>Image</label>
                <br />

                <input value="@link.LinkImage" name="LinkImage" />
                <br />

                <label>Instagram</label>
                <br />

                <textarea name="LinkInstagram">@link.LinkInstagram</textarea>

                <button>Make Changes</button>

            </form>
        }
    }
        @Html.Partial("_shareStuff")




        @*@Html.Partial("_disqus")*@


    </div>
    <div class="col-md-2">
        @Html.Partial("_shareBar")
    </div>

</div>
@Html.Partial("_addLink")


<link href='https://fonts.googleapis.com/css?family=Passion+One:700&effect=shadow-multiple|3d-float' rel='stylesheet' type='text/css'>